# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#                                                                                 #
# ███████╗███████╗██╗  ██╗    ██╗     ███████╗ ██████╗  █████╗  ██████╗██╗   ██╗  #
# ██╔════╝██╔════╝╚██╗██╔╝    ██║     ██╔════╝██╔════╝ ██╔══██╗██╔════╝╚██╗ ██╔╝  #
# █████╗  ███████╗ ╚███╔╝     ██║     █████╗  ██║  ███╗███████║██║      ╚████╔╝   #
# ██╔══╝  ╚════██║ ██╔██╗     ██║     ██╔══╝  ██║   ██║██╔══██║██║       ╚██╔╝    #
# ███████╗███████║██╔╝ ██╗    ███████╗███████╗╚██████╔╝██║  ██║╚██████╗   ██║     #
# ╚══════╝╚══════╝╚═╝  ╚═╝    ╚══════╝╚══════╝ ╚═════╝ ╚═╝  ╚═╝ ╚═════╝   ╚═╝     #
#               Discord: https://discord.gg/cNx6HF9P5J                            #
#             Documentation: https://docs.esx-framework.org                       #
#            Inventory Doc: https://docs.quasar-store.com/quasar-inventory        #
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # 
# Development Discord: https://discord.gg/cNx6HF9P5J
# Support Discord: https://discord.gg/J6VqFPwvVp
# Modified for Quasar inventory by ChernyyOrel#1074

# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

sv_hostname "fxserver"
set steam_webApiKey ""
sv_licenseKey ""
sv_maxclients 64   # Allow access to features usually locked behind a FiveM patreon key

sets sv_projectName "myawesomeserver"
sets sv_projectDesc ""
sets locale "en-GB"
sets tags "anticheat,inventory,sushis"
sv_scriptHookAllowed 0

set onesync legacy   # Infinity is not recommended for ESX
#set mysql_connection_string "mysql://user:password@localhost/es_extended?waitForConnections=true&charset=utf8mb4"
set sv_enforceGameBuild 2545 #Gamebuild, for latest online content

## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow
add_principal identifier. group.admin # Important !

## Default & Standalone resources
ensure chat
ensure chat-theme-gtao # Cool Chat theme
ensure spawnmanager
ensure sessionmanager
ensure hardcap
ensure [standalone]

## Quasar inventory & ESX Legacy
ensure es_extended
ensure qs-core
ensure qs-inventory
ensure qs-shops

ensure progressbar #You can move it to [standalone], it's the same

ensure [core] # esx basics

## Addons & Other scriots
ensure [custom] # all your script
ensure [maps] # For mapping and ipls

#stop basic-gamemode #remove this if you dont want to use multicharacter